.main-div{
    background-image:url(../image/su.jpeg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-size: contain;
    background-image : 9%;
    background-rad

}
.div{
    background
}
