*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li{
    
    display: inline-block;
    margin-top: 20px;
    padding: 10px;

}
ul{
    background-color: black;
}

ul li a{
    text-decoration: none;
}
a:link{
    color: blanchedalmond;
}
a:hover{
    color: blue;
}
