*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-div{
    border: 50px sould gray;
    /* margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 30px; */
    margin: 10px 60px 40px 50px;    
    width: 500px;
    padding: 100px;
    box-sizing: border-box;
}
.sec-div{
    border: gray 5px sould;
    margin: 10px 20px 50px 80px;
    width: 500px;
    box-sizing: border-box;
}