*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


@media screen and (max-width:900px) {
    .maindiv{
        width: 00px;
        background-color: hotpink;
}
}
.image{
    width: 900px;
}
.image img{
    width: 100%;
}